<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="../content/main.css" type="text/css" rel="stylesheet" />

    <meta charset="utf-8" />
    <title>Home Server</title>

</head>
<body>

    <div class="grid">
        <div class="container clearfix">

            <!-- Header -->
            <div class="column full intro clearfix">
                <a style="float: left" href="/">
                    <h5>Server Portal</h5>
                </a>
                <a class="button circle help" style="margin-top: 15px" href="/services.html" target="_blank">
                    <div>?</div>
                </a>
            </div>


            <!-- Menu -->
            <div class="column one-fourth controls clearfix">
                <div class="menu">
                    <div class="menuList" data-bind="foreach: controls">
                        <div class="menuItem column full" data-bind="click: function() { $root.selectControl($data) }, style: { 'background-color': $root.control() == $data ? '#57A3E8' : '' }">
                            <img data-bind="attr: { src: asset }" />
                            <p class="column half" data-bind="text: id"></p>
                            <p class="column half noSmall" data-bind="text: count"></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column three-fourths info">

                <section class="control" data-bind="with: server, fadeVisible: $root.control() == server">
                    <div class="row clearfix">
                        <div data-bind="template: { name: 'controlHeader', data: $data }"></div>
                    </div>
                    <div class="row clearfix">
                        <h4>Properties</h4>
                        <div class="column three-fourths">
                            <div class="column full">
                                <label>IP: </label><input data-bind="value: ip, valueUpdate: 'afterkeydown'" />
                            </div>
                            <div class="column full">
                                <label>Port: </label><input data-bind="value: port, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="column one-fourth">
                            <a class="button rectangle" data-bind="click: save">Save</a>
                        </div>
                    </div>
                </section>

                <section class="control" data-bind="with: database, fadeVisible: $root.control() == database">
                    <div class="row clearfix">
                        <div data-bind="template: { name: 'controlHeader', data: $data }"></div>
                    </div>
                    <div class="row clearfix">
                        <h4>Properties</h4>
                        <div class="column three-fourths">
                            <div class="column full">
                                <label>Name: </label><input data-bind="value: name, valueUpdate: 'afterkeydown'" />
                            </div>
                            <div class="column full">
                                <label>IP: </label><input data-bind="value: ip, valueUpdate: 'afterkeydown'" />
                            </div>
                            <div class="column full">
                                <label>Port: </label><input data-bind="value: port, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="column one-fourth">
                            <a class="button rectangle" data-bind="click: save">Save</a>
                        </div>
                    </div>
                </section>

                <section class="control" data-bind="with: log, fadeVisible: $root.control() == log">
                    <div class="row clearfix">
                        <div data-bind="template: { name: 'controlHeader', data: $data }"></div>
                    </div>
                    <div class="row clearfix">
                        <h4>Properties</h4>
                        <div class="column three-fourths">
                            <div class="column full">
                                <label>Logging ON: </label><input data-bind="value: logging, valueUpdate: 'afterkeydown'" />
                            </div>
                            <div class="column full">
                                <label>IP: </label><input data-bind="value: ip, valueUpdate: 'afterkeydown'" />
                            </div>
                            <div class="column full">
                                <label>Port: </label><input data-bind="value: port, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="one-fourth">
                            <a class="button rectangle" data-bind="click: save">Save</a>
                        </div>
                    </div>
                </section>

            </div>


        </div>
    </div>



    <script type="text/html" id="controlHeader">
        <h2 data-bind="text: id" class="name"></h2>
        <div class="column full">
            <p data-bind="text: definition"></p>
        </div>
        <div class="column full"><hr /></div>
    </script>


    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
    <script src="../scripts/main.js"></script>

    <script>
        $(function () {
            control.homePortal = new control.portal();
        });
    </script>


</body>
</html>